@model appTsane.Models.Proforma

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>

    <hr />
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Edit" asp-route-id="@Model.ID"><button class="btn btn-primary">Editar</button></a>
    <a asp-action="Index"><button class="btn btn-success"> Regresar</button></a>
</div>
















